.formInputs {
    display: grid;
    grid-template-columns: repeat(2, 2fr) ;
    gap: 1rem;
    margin: 1rem 3rem;

    @media  screen and (max-width: 567px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.formInputs div{
    width: 100%;
}

.formInputs div  select{
    width: 100% !important;
    padding: 1rem;
    border: 1 px solid rgb(49, 49, 49);
    margin: 1rem 0;
}

.formInputs input{
    width: 100%;

    @media screen and (max-width: 567px){
     .formInputs  input  .onMobile{
            width: 50% !important;
        }
    }
}